<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
     <!-- <nav>
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
      <% if user_signed_in? %>
      username : <%= current_user.username %>さん
      <% end %>
      </nav> -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="item1">
        
      </div>
      <div class="container" >
        <%= link_to image_tag("icon1.png",:class => "item"), lessons_path %>
        <%= link_to image_tag("icon2.png",:class => "item"), lessons_credit_path %>
        <%= link_to image_tag("icon3.png",:class => "item"), lessons_graph_path %>
      </div>
      <div class="main-container">
        <%= yield %>
      </div>
  </body>
</html>